# Frontend_URL
Frontend_URL=http://localhost:5173

# MongoDB
MONGODB_URL={YOUR_MONGODB_API_KEY}

# Inngest
INNGEST_EVENT_KEY={YOUR_API_KEY}
INNGEST_SIGNING_KEY={YOUR_API_KEY}

# Clerk
CLERK_PUBLISHABLE_KEY={YOUR_API_KEY}
CLERK_SECRET_KEY={YOUR_API_KEY}

# ImageKit
IMAGEKIT_PUBLIC_KEY='example-public-key'
IMAGEKIT_PRIVATE_KEY='example-private-key'
IMAGEKIT_URL_ENDPOINT='https://ik.imagekit.io/your_id'

# SMTP
SENDER_EMAIL={YOUR_EMAIL}
SMTP_USER={YOUR_SMTP_USER}
SMTP_PASS={YOUR_SMTP_PASS}